.reg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &_form{
        width: 370px;
        padding: 30px 0;
        border-bottom: 1px solid #c0c0c0;
        &_title{
            font-weight: bold;
            font-size: 24px;
            text-align: center;
            color: #231815;
            margin-bottom: 12px;
        }
        &_text{
            color: #231815;
            opacity: .5;
            text-align: center;
            margin-bottom: 5px;
        }
        &_error{
            height: 15px;
            &_message{
                color: red;
                font-weight: bold;
                text-align: center;
                & a:hover{
                    text-decoration: underline;
                }
            }          
        }
        & form{
            display: flex;
            flex-direction: column;
            & label{
                color: #7a7a7a;
                font-weight: 300;
                margin-top: 20px;
                margin-bottom: 5px;
            }
            & input{
                color: #231815;
                border: 1px solid #c0c0c0;
                outline: none;
                width: 100%;
                padding: 10px 15px;
            }
            & input[type=submit]{
                display: block;
                margin: 20px auto 0 auto;
                padding: 19px 15px;
                background-color: #E31E24;
                color: #fff;
                text-transform: uppercase;
                font-weight: bold;
                border: none;
                outline: none;
                cursor: pointer;
                &:hover{
                    background-color: #43d651;
                    transition: all 0.3s;
                }
            }
        }
    } 
    &_login{
        width: 370px;
        padding: 30px 0;
        & p{
            color: #231815;
            opacity: .5;
            text-align: center;
            margin-bottom: 20px;
        }
        &_link{
            display: block;
            padding: 19px 15px;
            color:  #7A7A7A;
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
            border: 1px solid #7A7A7A;
            outline: none;
            cursor: pointer;
            &:hover{
                background-color: #43d651;
                border: 1px solid  #43d651;
                color: #fff;
                transition: all 0.3s;
            }
        }
    }  
}
